<app-header [headerExchangeRates]="headerExchangeRates"></app-header>

<div class="main">
	<mat-card class="card">
		<mat-card-header>
			<h2>Convert {{ currency1 }} to {{ currency2 }} at the real exchange rate</h2>
		</mat-card-header>

		<mat-card-content class="content">
			<div>
				<app-input [(amount)]="amount1" (amountChange)="conver(true)"></app-input>

				<app-select [(selectedCurrency)]="currency1" (selectedCurrencyChange)="conver(true)"
					[currencies]="currencies"></app-select>
			</div>

			<button class="button-reverse" mat-icon-button (click)="reverseCurrencies()">
				<mat-icon [@iconRotation]="rotation">sync_alt</mat-icon>
			</button>

			<div>
				<app-input [(amount)]="amount2" (amountChange)="conver(false)"></app-input>

				<app-select [(selectedCurrency)]="currency2" (selectedCurrencyChange)="conver(false)"
					[currencies]="currencies"></app-select>
			</div>
		</mat-card-content>
	</mat-card>
</div>